.section7{
    background-image: url('slide-02.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    top: -100vh;
    left: 110px;
    margin: 10px;
}

/* .carousel-inner{
    display: flex;
    justify-content: center;

} */

.image2{
    margin-left: 20px;
    margin-right: 20px;
}